<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1700px;
            height:850px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:68%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:30%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;
            

        }
        #projectPPT{
            
            width:100%;
            height:80%;
            
        }
        .pptSlide{

            width:100%;
            height:590px;
            margin-bottom:10px;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }
        h5{
            margin:0px;
            padding:0px;
        }
        #capstoneVideoArea{
            width:100%;
            height:100%;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            
            <!--<video id="kbscVideoArea" src="/video/capstone/capstone.mp4" type="video/mp4" controls="controls"></video>-->
            <!--<iframe id="capstoneVideoArea" src="https://www.youtube.com/embed/EXSYgjhTmyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <!--<iframe id="capstoneVideoArea" src="https://www.youtube.com/embed/EXSYgjhTmyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
            <iframe id="capstoneVideoArea" src="https://www.youtube.com/embed/lpkq0RyVmDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최 : 한성대학교 컴퓨터공학과</h2>
                <h3>주제 : 블록체인기술 도입 교내 사용가능 어플 개발</h3>
                <h4>( 교내 비용 지불 시설을 코인으로 대체지불가능한 생태계를 만들수있는 어플 플랫폼 개발 )</h4>
                
                <h5>작업인원 : 4</h5>
                <h5>작업기간 : 2022 / 01 / 01 ~ 2022 / 06 / 14</h5>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:590px;">


                    <div class="pptSlide">
                        <img src="/img/capstone/capstone1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/capstone/capstone7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone16.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/capstone/capstone17.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    
</body>

</html>