<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1700px;
            height:850px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:68%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:30%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;
            

        }
        #projectPPT{
            
            width:100%;
            height:80%;
            
        }
        .pptSlide{

            display:inline-block;
        }
        .slideImg{
            width:100%;
            height:100%;

        }
        h5{
            margin:0px;
            padding:0px;
        }
        #eveVideoArea{
            width:100%;
            height:100%;

            border:3px solid black;
        }
        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;


            margin: 0 auto;
            margin-top:50px;
        }

    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <!--<iframe id="hompageArea" src="http://3.89.74.140:8080/polls/"></iframe>-->

            
            <!--<video id="eveVideoArea" src="/video/eveStation/eveStationVideo.mov" type="video/mov" controls="controls"></video>-->
            <!--<iframe id="eveVideoArea" src="https://www.youtube.com/embed/sxIvvVt5YC4" ></iframe>-->
            <iframe id="eveVideoArea" src="https://www.youtube.com/embed/sxIvvVt5YC4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h3>주최 :<a href="https://www.hanium.or.kr/portal/index.do" >한이음 여성 기업인협회(이브와) 공모전 </a> </h3>
                <h3>주제 : 버스이용 어플개발</h3>
                <h4>(기존보다 개선된 버스이용환경을 제공하기위한 어플개발)</h4>
                
                <h5>작업인원 : 4</h5>
                <h5>작업기간 : 2022 / 04 / 15 ~ 2022 / 11 / 30</h5>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:590px;">


                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/eveStation/eveStation15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    

    <div id="explain">
        <h5>후기</h5>
        <p>
            Kotlin을 이용해 고객 / 기사 어플의 프론트단을 구성하고 , Node.js 서버의 고객 회원가입 , 로그인 및
            임시 버스서버 ( 실제 공공버스 서버에 접근을 할수가 없으니 , 승객의 탑승 예약 및 하차를 처리하기위해 만든 서버 )
            를 제작하는 파트를 담당하였습니다. 팀원은 총 4명으로 1명은 Python을 이용한 라즈베리파이 MQTT 파트를 담당하였으며 ,
            다른 한명은 어플의 UI디자인 , 다른 한명은 공공버스 API를 사용하여 어플과 서버에 도입하고, 결제서버( TossPayments )를 따로 만들어
             Node.js서버에 도입하여 승객의 승 / 하차 에서의 결제 시스템을 구현하는 파트를 담당했습니다. 
            팀원들은 모두 교내에서 만난 컴퓨터공학과 2학년 , 3학년 , 3학년 학생들로 저혼자 4학년으로 , 졸업작품을 끝낸 직후
            만난 팀원들이라서 초기에 많이 긴장했었던 기억이 납니다. 초기에 멤버들은 백엔드와 프론트엔드를 구분짓지 못하며 , 
            프로젝트 경험이 없고 , 공공API를 공부하던 친구역시 HTTP요청의 비동기 / 동기의 개념이 구분되어있지 않아서 , 상당히
            어려운 상황이었습니다. 고로 수많은 회의를 거쳐서 팀원들이 모두 같은 방향을 바라보고 , 같은 목표를 가지고 작업을 하게 만들어야했던
            상황이었으며 , 매 회의때마다 저는 팀원 각자의 머릿속에 같은 그림을 그려주려 , 계속해서 작업물을 가져가 설명해주고 ,
             올바른 방향으로 팀원들이 작업을 할수있도록 이끌어주었던 기억이 납니다. <br>
            먼저 이 어플과 서버가 돌아가는 구조를 설계해야했으며 , DB와 어플의 작업 패턴역시 정해져 있어야 했습니다.
            저는 MVC , MVC2 패턴을 사용해 프로젝트를 진행해본 경험을 토대로 , 어플의 작업패턴을 MVC모델을 사용해 작업을 하였고 , 
            Node.js역시 정형화 되어있는 폴더구조를 찾아와 제가먼저 공부해본후에 팀원들과 같이 그에대한 또다른 공부를 해나가며 작업을 진행하였습니다.
            예선들을 모두 통과하고 , 본선에 통과하였지만 , 거의 막바지인 10월 중순에 주최측의 작업 중단 통보를 받게되어 매우 아쉬웠던 기억이 있습니다.
            이유는 여러가지이겠지만 , 다른 프로젝트 , 논문작성 등으로 서로 각자 바쁜 일상을 보내며 작업을 이어나가다가 , 시험기간을
            보내면서 소홀했던 작업량이 주최측의 중단 통보의 원인이 된것이 아닐까 생각하고 있습니다. 
        </p>
        <h5>작업중 이슈</h5>
        <p>
            가장 기억에 남는 이슈는 <a href="https://blog.naver.com/zerosugarcoke/222887956546">"Only the original thread that created a view hierarchy can touch its views"</a>
            에러입니다. 어플을 제작할때에 기사님께서 사용하실 어플은 운전에 아무런 지장없이 기사님의 운행을 도와야하는 상황이었음으로 , 
            운행중인 정류장을 따라 어플의 화면단에서 변화가 일어났어야하는데 ( 운행중인 정류장을 가운데에 보이게하는 focusing 변화 ) 
            RecyclerView를 갱신시켜주는 notifyDataSetChanged() 메서드를 Main Thread단이 아닌 coroutine블록 내 다른 Thread에서
            돌려주려 하다보니 나온 에러였습니다. 이걸 어떻게 Sub Thread에서 오는 Signal을 받아 Main Thread에서 View를 갱신
            시킬수 있을까 생각을 해보다가 Handler라는 개념이 있다는것을 알게되었고 , 구글에 존재하는 몇몇 예제를 따라해보다가 도입해봐도 되겠다 싶어서
            어플에 도입을 하여 해당 문제를 해결하게 되었습니다. <br>
            또한 작업을 진행하며 아직 저학년인 팀원들에게 작업에 대한 부담을 덜어주고싶은 마음이 강하게 들었는데 , 
            고객관리 DB의 경우에 아직 DB를 다뤄본 경험이 없는 2학년 팀원과 , 서버에 익숙하지않은 3학년 팀원들에게 부담을 덜어줄 목적으로 , 
            java의 JPA가 생각이 나 node.js의 sequelize모듈을 사용해 DB를 작성하여 서버만 실행하면 DB가 짜놓은 코드대로 세팅이 되게 만들어놓았습니다.
            sequelize문법이 낯설어 초반에 어려움이 있었는데 , 이후 팀원들이 서버만 켜면 DB환경이 동일하게 갖춰지게 되어 작업하는데에
            따로 신경쓰지않고 편하게 작업하게 만들어놓은것이 가장 뿌듯했습니다. 서버를 개발하던 프론트를 개발하던 어떠한 환경에서도 다른 팀원들이
            내 작업으로인해 업무를 더 효율적으로 할수있게 되었다는것이 작업내내 제겐 뿌듯한 감정을 느끼게 했습니다.
        </p>
    </div>
    <!-- explain 끝 -->

</body>
</html>