<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1800px;
            height:1200px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:60%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:38%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;

        }
        #projectPPT{
            
            width:100%;
            height:70%;
            
        }
        .pptSlide{

            width:100%;
            height:400px;
            margin-bottom:10px;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }

        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;

        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            <iframe id="hompageArea" src="http://3.89.74.140:8080/polls/"></iframe>
        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h1>주최 : 멋쟁이 사자처럼 해커톤대회</h1>
                <h2>주제 : 한눈에 보는 기상 예측</h2>
                <h3>( 100일간의 기상청의 예보 데이터와 / 실 기온을 비교하여 기온 예측모델을 구축 및 배포 )</h3>
                <br>
                <h4>작업인원 : 4</h4>
                <h4>작업기간 : 2022 / 09 / 14 ~ 2022 / 09 / 14</h4>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:830px;">


                    <div class="pptSlide">
                        <img src="/img/webhack/webhack1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/webhack/webhack7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    



    <div id="explain">
        <h5>후기</h5>
        <p>
            오전 9시부터 시작해 본 해커톤 행사의 개막식과 , 제공되는 리소스들에 대한 설명 등으로 쉴새없이 바쁜하루가 빠르게 지나갔었습니다. 
            제공되었던 리소스는 모바일 환경에서도 편하게 이용할수 있는 월드컵 형식의 미니프로젝트로 , 그러한 프로젝트를 가지고 각 팀만의
            개성이 담겨있는 프로젝트를 완성하여 배포하는것이 최종 목적이었습니다. 당일 저는 무슨 이유인지는 모르게 , 팀원이 만들고싶어하는
            것을 같이 고민하여 만들어내고싶은 마음이 들었으며 , 제 의견을 내기보다 팀원들의 의견을 최대한 수용하여 작업을 하자는 마음을 먹었습니다.
            빅데이터와 AI분야 취업을 목표로하는 팀원이 AI와 데이터분석을 위주로 하는 작업물을 만들고싶다는 의견을 내었고 , 얼마전 AI에 대해
            공부를 하였던 경험이 있던 저로서는 충분히 해볼만하다는 생각이 들었습니다. 저는 작업한것들을 블로그나 Github에 기록해놓는것을 취미로
            가지고 있는데 , AI모델링을 공부했었던 작업물들이 있었던것이 기억이 나서 , 그 파트의 코드를 가져와 변형시켜 사용을 했습니다. 
            또한 본 작업의 특성상 가장 호환이 잘 되는 Python서버를 사용해야 했었는데 , 또 제가 혹시몰라 마침 공부했었던 Python으로
            웹서버를 다룰수있게 만드는 프레임워크인 Django와 Flask 둘중 Django를 사용하여 웹서버를 구현하였으며 , 프론트를 구현하는
            파트를 담당했던 두 팀원의 작업 , 웹서버를 만드는 제 작업 , 100일간의 기상청 예보날씨 / 실 기온을 모아 기온 예측 모델을 만드는
            팀원의 작업이 모두 끝나 세개를 이어붙이는 작업을 제가 마무리하면서 결과물을 낼수있게 되었습니다. 다만 제가 맥북환경에서 AWs배포를
            해본적이 없는상황이었어서 마감 1시간을 남겨두고 배포작업을 하다가 실패하며 대상을 놓치게 되었다 생각이 들어 팀원들에게 미안함이 남았고,
            결과에대한 아쉬움이 남게되었습니다.
        </p>
        <h5>작업중 이슈</h5>
        <p>
            작업중에 발생했던 이슈로는 랜덤으로 당일날 배정된 팀원들의 개성이 각각 다르다는 문제가 있었습니다. 제가 제 나름대로의 작업계획을 가지고
             행사에 참여했다면 이야기가 달라질수 있었는데 , 제 마음가짐이 팀원이 가고싶어하는 방향으로 같이 나아가자는 마인드로 참여하게되어 다행이었습니다.
             그래서인지 몰라도 결과( 수상 )과 좋았으며 , 작업중 이슈로는 너무 오랜만에 갑작스럽게 Django를 사용하다보니 익숙하지 않은상태에서 급하게
             공부를 하며 작업을 진행하는것에 부담이 굉장히 컸고 , 분명 내가 다뤄본적이 있던 프레임워크인데도 수족처럼 부릴 수 없다는것에 대해
             많이 답답함을 느꼈습니다. 당연한 부분이겠지만 , 팀장을 맡게되었던 상황으로 바로옆에서 같이 작업하는 팀원들의 모습이 제게 책임과 부담으로
             와닿게 되는 상황이었음으로 , 머리가 하얗게 되는 상황이 여러번 발생해도 다시 눈한번 딱감고 뜰 사이에 멘탈을 정리하고 , 해야할일을 해나가는것에
             집중을 하였습니다. 뿐만아니라 그 바쁜 상황에서 모든 팀원이 각각 어떠한 일을 어떻게 진행핟고있는지에 대해 매순간 파악하고 있어야 했으며 , 
             마무리 단계에 와서는 정확하게 파악하고 있는 웹 프론트 , 백 , AI모델링 및 함수사용 세 파트를 합쳐서 정확히는 웹 백앤드에 모든 파트를
             이식하는것까지 정신없이 하루가 흘러갔습니다. 그저 단 몇일 혹시몰라 공부를 해놓았었던 Python 서버의 개념이 짜릿했던 본 행사로 인해서
             잊을래야 잊을 수 없게 되었던것 같습니다. 저는 jsp , Spring , Node.js , PHP , Django , Keras 모두 사용할수 있지만 , 
             가장 제가 극한의 경험을 겪음으로서 가장 애착이 있는 언어들중에 Django를 꼽을 수 있게되었습니다.
        </p>
    </div>
    <!-- explain 끝 -->


</body>
</html>