<!DOCTYPE html class=".container-fluid">
<html lang="en" style="height:3950px;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dhPark Land</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script>
        var test = 100;
    </script>
</head>

<style>
    :root {
        --element-bgMax : 1.0 ;
        --element-bgMin : 0.3 ;
    }
    

    #container{
        
        height:100%;
        border:1px solid black;
        margin:0 auto;
        min-width:500px;

    }

    #container_bg{

        background-color : rgba(80 , 80 , 80 , 1.0);
        min-width:500px;

    }

    .rowArr{
        
        height:1px;
        display:flex;

    }

    .rowInnerDiv{

        width:1px;
        height:1px;
        

    }

    .bg_gradient {

        background-image: linear-gradient(to bottom right, rgba( 0 , 80 , 80 , var(--element-bgMax) ), rgba( 50, 0, 255, var(--element-bgMin) ) );
        height: 200px;
        
    }


    #contentsContainer{

        

    }

    .imgBox{
        width:100%; height:530; margin-bottom:20px;
    }
    .explainBox{
        width:100%; height:200; border-top:2px solid black;
    }

    #imgTxtContBox1{
        width:450; height:750; margin: 0 auto; min-width:350;
    }
    #imgTxtContBox2{
        width:450; height:750; margin: 0 auto; min-width:350;
    }

    
    #mySelfie{

        border-radius:10%;
        border:10px solid rgba(0 , 80 , 80 ,var(--element-bgMax));
        max-width:250px;
        

    }

    #mySelfIntroduce{

        border-radius:5%;
        border:10px solid rgba(0 , 80 , 80,var(--element-bgMax));

    }

    #eachRowDiv{

        border:5px solid rgba(128,203,250,0.2);
        border-radius:10%;
        height:1450px;

    }
    #cols{
        border-radius:1%;
    }

    #header{
        margin-bottom:5%;
    }

    #capstoneImgSize{

        width:100%;
        height:100%;

    }
    #gukminImgSize{

        width:100%;
        height:104%;
        
    }

    #eveImgSize{

        width:100%;
        height:104%;

    }

    #kampImgSize{
        width:100%;
        height:100%;
    }

    #groomTonImgSize{
        width:100%;
        height:104%;

    }

    #handsomeHackImgSize{

        width:100%;
        height:100%;

    }

    #koreaTrolleringImgSize{

        width:100%;
        height:104%;

    }

    #workProfile{
        display:inline-block;
        margin:5%;
        
    }

    a{
        margin:0px;
        padding:0px;
    }
    a:link {
        color: black ;
        text-decoration : none;
    }
    a:visited {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: black; text-decoration: underline ;
    }


    .intro{
        margin:0px;
        padding:0px;
    }
    p{
        font-size:13px;
    }
    a{
        font-size:13px;
    }
    #selfieSize{

        width:100%;
        
        height:100%;
        
    }
    .links {

        margin-left:3%;

    }

    .experience{

        font-size:11px;

    }

    

</style>

<body>
    
    <div id="container" >

        <div id="container_bg" class="bg_gradient">

            <div id="header" class="container" > 

                <div class="row">

                    <div id="mySelfie" class="col-md-3 text-bg-light p-3 me-5" style="height:220;"> 
                    
                        <img  id="selfieSize" src="/img/selfie.png"/>
                        
                    </div>
                    <!--mySelfie 끝-->
                    <div id="mySelfIntroduce" class="col-md-8 text-bg-light p-3 " style="height:420;"> 

                        <h5 class="intro">학력</h5><p class="intro links">한성대학교 컴퓨터공학과 2017 / 01 ~ 2022 / 06 졸업예정</p>
                        <h5 class="intro">블로그</h5><a class="intro links" href="https://blog.naver.com/zerosugarcoke">zerosugarcoke의 블로그</a>
                        <h5 class="intro">깃허브</h5><a class="intro links" href="https://github.com/DHAPARK">DHAPARK's GitHub</a>
                        
                        
                        <h5 class="intro">관련 교육</h5>
                        
                        <p class="links experience">역삼 KoreaIT 학원 프론트 웹 개발자 육성과정 수료<br>( 2021 / 01 / 12 ~ 2021 / 05 / 13 )<br>
                            Html,Css,JavaScript,PHP,Mysql,FileZilla,닷홈,PostMan,Node.js,React
                        </p>

                        <p class="links experience">역삼 KoreaIT 학원 백앤드 웹 개발자 육성과정 수료<br>( 2021 / 06 ~ 2021 / 10 )<br>
                            Java,Jsp,Oracle,Mybatis,SpringSTS
                        </p>

                        <p class="links experience">역삼 KoreaIT 학원 임베디드 개발자 육성과정 B 현 수강중...<br>( 2022 / 08 / 03 ~ ... )<br>
                            Java,Jsp,Oracle,Mybatis,SpringSTS
                        </p>

                        <a class="intro links" href="http://www.koreaitacademy.com/?utm_source=naver&utm_medium=cpc&utm_campaign=official&utm_content=sa&utm_term=강남코리아아이티&n_media=27758&n_query=강남코리아아이티&n_rank=1&n_ad_group=grp-a001-01-000000018276922&n_ad=nad-a001-01-000000187563118&n_keyword_id=nkw-a001-01-000003348582846&n_keyword=강남코리아아이티&n_campaign_type=1&n_ad_group_type=1&NaPm=ct%3Dl9m1l3mg%7Cci%3D0Au0002dR5jxSkwxeLnK%7Ctr%3Dsa%7Chk%3Dd0c53b9a2fd57f0ea19bc4a448133b6493d00aae">역삼 KoreaIT학원 바로가기 링크</a>
                    </div>
                    <!--mySelfIntroduce 끝-->
                </div>
                <!--row 끝-->
            </div>
            <!-- header class container 끝-->


            <div id="albumContainer" class="album">
                <div id="contentsContainer" class="container">

                    <div id="eachRowDiv" class="row row-cols-1  row-cols-md-1 row-cols-lg-2 mb-1">

                        <div id="cols" >
                            
                            <div id="imgTxtContBox1" class="card shadow-sm mb-5">

                                <div class="imgBox" onclick="goCapstone()">

                                    <img id="capstoneImgSize" src="/img/capstone.png" />

                                </div>
                                <!-- imgBox 끝 -->
                                <div class="explainBox">
                                    <div id="workProfile">
                                        <h4>블록체인 어플</h4>
                                        <h4>팀인원 : 4인</h4>
                                        <h4>기간 : 2022 / 01 / 01 ~ 2022 / 06 / 14</h4>
                                        <h4>졸업작품 과목 ( 교내 ) </h4>
                                        <h4>수상(장려) </h4>
                                    </div>
                                    <!-- workProfile 끝 -->
                                </div>
                                <!-- explainBox 끝 -->
                            </div>
                            <!--imgTxtContBox1 끝-->
                            <div id="imgTxtContBox2" class="card shadow-sm mb-3">

                                <div class="imgBox" onclick="goKbsc()">
                                    
                                    <img id="gukminImgSize" src="/img/gukmin.png" />

                                </div>
                                <!-- imgBox 끝-->
                                <div class="explainBox">

                                    <div id="workProfile">
                                        <h4>블록체인 기술도입 코딩교육플랫폼 웹/앱</h4>
                                        <h4>팀인원 : 5인</h4>
                                        <h4>기간 : 2022 / 07 / 08 ~ 2022 / 10 / 3</h4>
                                        <h4>KBSC 국민은행 공모전 </h4>
                                        <h4>미수상 </h4>
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                                <!-- explainBox 끝 -->
                            </div>
                            <!--imgTxtContBox2 끝-->
                        </div>
                        <!-- cols 끝  -->


                        <div id="cols" >
                            
                            <div id="imgTxtContBox1" class="card shadow-sm mb-5">

                                <div class="imgBox" onclick="goEveStation()">

                                    <img id="eveImgSize" src="/img/eve.png"/>

                                </div>

                                <div class="explainBox">
                                    <div id="workProfile">
                                        <h4>서울시 버스이용환경 개선어플</h4>
                                        <h4>팀인원 : 4인</h4>
                                        <h4>기간 : 2022 / 04 / 15 ~ 2022 / 11 / 30</h4>
                                        <h4>한이음 여성기업인협회(이브와) 공모전</h4>
                                        <h4>본선탈락</h4>
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                                <!-- explainBox 끝 -->

                            </div>
                            <!--imgTxtContBox1 끝-->
                            <div id="imgTxtContBox2" class="card shadow-sm mb-3">

                                <div class="imgBox" onclick="goHandSomeWebHack()">

                                    <img id="handsomeHackImgSize" src="/img/handsomeHack.png"/>

                                </div>

                                <div class="explainBox">
                                    <div id="workProfile">
                                        <h5>기상청 예측/실기온 비교 기온예측 AI모델 구현</h5>
                                        <h4>팀인원 : 4인</h4>
                                        <h4>기간 : 2022 / 09 / 14 ~ 2022 / 09 / 14</h4>
                                        <h4>한성대학교 X 멋쟁이 사자처럼 해커톤</h4>
                                        <h4>최우수상 수상</h4>
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                            <!-- explainBox 끝 -->
                            </div>
                            <!--imgTxtContBox2 끝-->
                        </div>
                        <!-- cols 끝  -->
                        





                        
                        <div id="cols" >
                            
                            <div id="imgTxtContBox1" class="card shadow-sm mb-5">

                                <div class="imgBox" onclick="goKamp()">

                                    <img id="kampImgSize" src="/img/kamp.png"/>

                                </div>

                                <div class="explainBox">
                                    <div id="workProfile">
                                        <p style="font-size:18px; margin:0px; padding:0px;">식품가공 기업의 작업환경 개선 및 생산성 향상을 위한 아이디어를 제시하고 인공지능 알고리즘으로 구현</p>
                                        <p style="font-size:15px; margin-top:10px; margin-bottom:0px; padding:0px;">팀인원 : 3인</p>
                                        <p style="font-size:15px; margin:0px; padding:0px;">기간 : 2022 / 09 / 30 ~ 2022 / 12 / 06</p>
                                        <p style="font-size:15px; margin:0px; padding:0px;">2022년 제 2회 K-인공지능 제조데이터 분석 경진대회</p>
                                        <p style="font-size:15px; margin:0px; padding:0px;">종료</p>
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                                <!-- explainBox 끝 -->

                            </div>
                            <!--imgTxtContBox1 끝-->

                            <div id="imgTxtContBox2" class="card shadow-sm mb-3">

                                <div class="imgBox" onclick="goGroomTon3()">

                                    <img id="groomTonImgSize" src="/img/groomTon3.png"/>

                                </div>

                                <div class="explainBox">
                                    <div id="workProfile">
                                        <h5>클라우드 기술 활용 해커톤</h5>
                                        <h4>팀인원 : 5인</h4>
                                        <h4>기간 : 2022 / 11 / 15 ~ 2022 / 11 / 18</h4>
                                        <h4>제 3기 구름톤</h4>
                                        <h4>종료</h4>
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                            <!-- explainBox 끝 -->
                            </div>
                            <!--imgTxtContBox2 끝-->
                        </div>
                        <!-- cols 끝  -->
                        






                        <div id="cols" >
                            
                            <div id="imgTxtContBox1" class="card shadow-sm mb-5">

                                <div class="imgBox" onclick="gokoreaTrolling()">

                                    <img id="koreaTrolleringImgSize" src="/img/koreaTrolling.png"/>

                                </div>

                                <div class="explainBox">
                                    <div id="workProfile">
                                        <p style="font-size:20px; margin:0px; padding:0px;">웹상 연령별 댓글데이터 수집 / 분류 / 분석 / 시각화</p>
                                        <p style="font-size:20px; margin-top:10px; margin-bottom:0px; padding:0px;">팀인원 : 6인</p>
                                        <p style="font-size:20px; margin:0px; padding:0px;">기간 : 2022 / 10 / 26 ~ 2022 / 11 / 18</p>
                                        <p style="font-size:20px; margin:0px; padding:0px;">KoreaIT JSP 준수료 팀프로젝트</p>
                                        <!--<p style="font-size:15px; margin:0px; padding:0px;"></p>-->
                                    </div>
                                <!-- workProfile 끝 -->
                                </div>
                                <!-- explainBox 끝 -->

                            </div>
                            <!--imgTxtContBox1 끝-->


                            <!--나중에 imgTxtContBox2 만들어야함-->
                            
                        </div>
                        <!-- cols 끝  -->












                    </div>
                    <!--eachRowDiv class row 끝-->
                    
                    
                    <!--
                    <div class="row" >


                        
                    </div>
                    class row 끝-->

                    
                </div>
                <!-- contentsContainer class container 끝 -->

            </div>
            <!-- albumContainer album py-5 bg-light 끝 -->
        </div>
        <!-- container_bg 끝 -->

    </div>
    <!-- container div 끝 -->

</body>

<script>
    /*
    * 색상
    * 보라색 : 139, 0, 255, 1.0
    * 검회색 : 80 , 80 , 80 , 1.0
    */
    /*
    * 화면전체를 큰 배열들로 나눌것이다
    * bgArr[ WIDTH ][ HEIGHT ] 가 될것이고 , 후에 이 배열들의 index가 주기적으로 바뀌며 ,
    * 웹페이지의 배경에 파도 효과를 줄것이다
    */
    var WIDTH , HEIGHT ;
    var container , container_bg ;
    var rowArr , rowInnerDiv ;
    var bg_paintTm = 200;
    /*
    * cnt의 경우엔 bgMin과 bgMax가 0.3~1.0 을 왔다갔다 할때 bgChangeFlag를 cnt번째마다 검사해주기 위해서 만든 변수
    */
    var bg_gradient , bgMin = 0.3 , bgMax = 1.0 , cnt = 0 ;
    
    /*
    * bgChangeFlag 가 false라면 1.0이 아직 안찍힌것으로 올라가고
    * bgChangeFlag 가 true라면 1.0이 찍히고 내려가는걸로
    */
    var bgChangeFlag = false ;
    /*
    * html문서가 웹에 전부 로드되었을때 , 그떄부터 시작해서 최상단 부모div의 넓이와 높이를 가져와서
    * 그 내부에 position을 absolute로 준 div ( container_bg ) 의 넓이와 높이를 그대로 주는 코드
    */
    
    const paintBg = ()=>{
                
                container_bg.style.width = container.offsetWidth ;
                container_bg.style.height = container.offsetHeight ;
                WIDTH = container.offsetWidth ;
                HEIGHT = container.offsetHeight ;

                bg_gradient = document.querySelector('.bg_gradient') ;
                
                
                if ( cnt++ % 7 == 0 ) {

                    bgChangeFlag = ( bgMin >= 1.0 && bgMax <= 0.3 ) ? true : false ;
                
                }


                if ( bgChangeFlag ) {

                    bgMax = ( Number(bgMax) + 0.1 ).toFixed(1) ;
                    bgMin = ( Number(bgMin) - 0.1 ).toFixed(1) ;

                    bg_gradient.style.setProperty('--element-bgMax' , bgMax ) ;
                    bg_gradient.style.setProperty('--element-bgMin' , bgMin ) ;

                } else {
                    
                    bgMax = ( Number(bgMax) - 0.1 ).toFixed(1) ;
                    bgMin = ( Number(bgMin) + 0.1 ).toFixed(1) ;

                    bg_gradient.style.setProperty('--element-bgMax' , bgMax ) ;
                    bg_gradient.style.setProperty('--element-bgMin' , bgMin ) ;

                }

                console.log(` bgMax : ${bgMax}\nbgMin : ${bgMin} `) ;
                
                
            };

    document.addEventListener("DOMContentLoaded", function(event){

        container = document.getElementById("container") ;
        container_bg = document.getElementById("container_bg") ;

        paintBg() ;

        setInterval(()=>{

            paintBg() ;
            
        },bg_paintTm);




        /*
        * rgba 값을 각 픽셀에 넣어주려면 4칸짜리 배열이 하나 있어야한다
        * 즉 bgArr[ WIDTH ][ HEIGHT ][ 4 ] 가 되고
        * 이후에는 잘게 나눠진 div에 rgba( bgArr[ WIDTH ][ HEIGHT ][ 0 ] , bgArr[ WIDTH ][ HEIGHT ][ 1 ] , bgArr[ WIDTH ][ HEIGHT ][ 2 ] , bgArr[ WIDTH ][ HEIGHT ][ 3 ] ) ;
        * 으로 각 index 즉 픽셀마다 rgba가 정해질것이다
        * 
        * 오른쪽으로 갈수록 어두워지게 만들것이다
        */
        
        /*
        * 각 인덱스마다 div를 만드는 코드
        * rowArr : width 100% 인 가로 div
        * rowInnerDiv : rowArr내부의 가로로 줄지어있는 작은 div ( 이후 내부 background을 rgba로 줄것 )
        */
        

        
        
    });
    


</script>

<script>
    //페이징 함수들
    //이미지 누르면 넘어가게
    function goHandSomeWebHack(){
        location.href="handsomeHack";
    }
    function goEveStation(){
        location.href="eveStation";
    }
    function goKbsc(){
        location.href="kbsc";
    }
    function goCapstone(){
        location.href="capstone";
    }
    function goKamp(){
        location.href="https://blog.naver.com/zerosugarcoke/222914901390";
    }
    function goGroomTon3(){
        location.href="https://goorm.notion.site/585a4e81d40743f4b5be5cf43b3010ef";
    }
    function gokoreaTrolling(){
        location.href="goKoreaTrolling";
    }
</script>

</html>