<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1700px;
            height:850px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:68%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:30%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;
            

        }
        #projectPPT{
            
            width:100%;
            height:80%;
            
        }
        .pptSlide{

            width:100%;
            height:590px;
            margin-bottom:10px;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }
        h5{
            margin:0px;
            padding:0px;
        }
        #kbscVideoArea{
            width:100%;
            height:100%;
        }
    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            
            <video id="kbscVideoArea" src="/video/kbsc/kbsc.mp4" type="video/mp4" controls="controls"></video>

        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최 : 국민은행 제 5회 KBSC</h2>
                <h3>주제 : 블록체인 기술도입 코딩교육플랫폼 웹/앱 개발</h3>
                <h4>( 자체제작한 가상화폐를 코딩교육을 받으며 리워드로 받고, 사용하게 만드는 플랫폼 )</h4>
                
                <h5>작업인원 : 5</h5>
                <h5>작업기간 : 2022 / 07 / 08 ~ 2022 / 10 / 3</h5>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:590px;">


                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc16.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc17.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc18.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc19.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc20.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    
</body>

</html>