<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #container{

            width:1700px;
            height:850px;
            margin:0 auto;
            display:flex;

        }
        #leftCont{

            width:68%;
            height:100%;
            margin-right:2%;
            border:1px solid black;

        }
        #rightCont{

            width:30%;
            height:100%;
            border:1px solid black;

        }
        #hompageArea{
            display:inline-block;
            width:100%;
            height:100%;
            background-color:black;

        }

        #projectTitle{

            width:90%;
            height:25%;
            border:1px solid black;
            padding:5%;
            

        }
        #projectPPT{
            
            width:100%;
            height:80%;
            
        }
        .pptSlide{

            width:100%;
            height:590px;
            margin-bottom:10px;
            
        }
        .slideImg{
            width:100%;
            height:100%;

        }
        h5{
            margin:0px;
            padding:0px;
        }
        #kbscVideoArea{
            width:100%;
            height:100%;
        }


        #explain{

            width:1000px;
            height:300px;
            border:1px solid black;
            padding:2%;
            overflow:auto;

        }


    </style>

</head>
<body>
    
    <div id="container">

        <div id="leftCont">
            
            <!--<video id="kbscVideoArea" src="/video/kbsc/kbsc.mp4" type="video/mp4" controls="controls"></video>-->
            <iframe id="kbscVideoArea" src="https://www.youtube.com/embed/qvYICHkJiMM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <!-- leftCont 끝 -->
        
        <div id="rightCont">

            <div id="projectTitle">
                <h2>주최 : 국민은행 제 5회 KBSC</h2>
                <h3>주제 : 블록체인 기술도입 코딩교육플랫폼 웹/앱 개발</h3>
                <h4>( 자체제작한 가상화폐를 코딩교육을 받으며 리워드로 받고, 사용하게 만드는 플랫폼 )</h4>
                
                <h5>작업인원 : 5</h5>
                <h5>작업기간 : 2022 / 07 / 08 ~ 2022 / 10 / 3</h5>
            </div>
            <!--projectTitle 끝-->

            <div id="projectPPT">
                <div class="pptSlidContainer" style="overflow:auto; width:100%; height:590px;">


                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc1.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc2.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc3.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc4.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc5.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc6.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->
                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc7.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc8.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc9.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc10.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc11.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc12.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc13.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc14.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc15.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc16.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc17.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc18.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc19.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                    <div class="pptSlide">
                        <img src="/img/kbsc/kbsc20.png" class="slideImg"/>
                        <!--slideImg끝-->
                    </div>
                    <!--pptSlide 끝-->

                </div>
                <!--pptSlidContainer 끝-->
            </div>
            <!--projectPPT 끝-->
        </div>
        <!-- rightCont 끝 -->

    </div>
    <!--container 끝-->
    


    <div id="explain">
        <h5>후기</h5>
        <p>
            기존에 개발했었던 어플을 가지고 어플은 더 개선을 시키고 , 웹으로도 확장을 시켜 제 5회 KBSC 국민은행 공모전에 제출하는것을 목표로
            팀원을 모았습니다. 팀원은 각각 디자인파트( ICT디자인 학과 4학년 ) , 기획파트 ( 문화콘텐츠 및 컴퓨터공학과 복수전공 4학년 ) , 서버파트 ( 컴퓨터공학과 4학년 ) ,
            웹파트 ( 컴퓨터공학과 3학년 ) , 웹 및 모바일 파트 ( 컴퓨터공학과 4학년 ) 으로 팀원을 구했었습니다. 
            팀작업은 기획을 담당한 팀원이 어플의 개선과 웹페이지로의 확장방향을 기획하며 , 동시에 제가 Expo버전으로 구현된 어플의 CLI버전으로의 전체적인
            변환부분을 맡아서 수행했습니다. 또한 모든 어플의 코드를 CLI로 변환한 후에는 기획에서 제시한 방향으로 어플에 상점페이지를 구현하며 확장시켰습니다.
            또한 디자인파트의 제안대로 어플쪽의 디자인을 변화시켰습니다. 웹페이지의 개발이 시작될때는 당시 3학년이었던 팀원이 갈피를 잡지 못하는
            상황에서 방향을 제시해주려 지금의 완성본이 되기 전 웹 프론트를 구현해서 자료를 넘겨주어 지금의 웹페이지의 모습을 구현하기까지의 방향을 제시해주었습니다. 
            이후 작업중도에 기획의 제시에 따라 웹페이지의 사이즈가 제법 커지게되었는데 YouTube API를 이용하여 홈페이지를 이용하는 고객들이 시청하는 
            코딩교육 동영상을 Youtube에서 가져오는 파트를 웹상에서 구현하였습니다. 또한 이후에 서버단과 Youtube 에서 퍼온 교육영상을 어느 고객이 어디까지보았고 ,
            다음 시청때에 어느 부분부터 다시 시청하게 될지를 결정하는 로직을 구현하는 작업을 해당 팀원과 같이 진행을 하였습니다.
        </p>  
        <h5>작업중 이슈</h5>
        <p>
            작업중 발생했던 이슈로는 iframe으로 유튜브 영상을 가져오는데에서 애를 먹었습니다. 이유는 보안상의 이유로 Youtube에서는
            iframe으로 유튜브의 영상을 가져가 쓰는데까지만 허용이 되어있는 상태였고 , control bar나 다른 영상에 대한 제어권을 넘겨받거나 하지 못하는
            상황이었습니다. 계속 시도를 해보다가 정 안되어 Youtube API를 사용해 영상을 저희의 입맛대로 Control하는 방안을 세웠고 , 당일 밤을새서 해결책을
            내왔습니다. 다음날 팀원들에게 브리핑을 하는데에서 저의 솔루션대로 서버단에서 본인의 파트에서 제가 가져온 솔루션을 도입할 방법을 찾아내서
             동영상 학습페이지를 만들게 되었습니다. 또한 상품구매페이지에서 상품을 선택하면 상품을 구매하는 페이지로 넘어가도록 초기 설계가 되어있었는데 , 
             중도에 기획자의 기획변경으로 상품을 클릭하면 새로운 자식 window가 하나 떠서 그 위에서 결제가 되는식으로 변경할 필요가 있었습니다. 
             당시 새끼창을 띄워본 경험이 없었던 터라 당황했었지만 , 침착하게 그 구조를 공부했습니다. 서버단의 router을 하나 만들어 새끼창에 넘겨줄 데이터들을
             서버단에 넘기고 , 새끼창에 띄울 ejs페이지를 필요한 데이터들과 같이 render해주는것부터 , 새끼창에서 결제가 되면 창이 꺼지게 만드는것까지 성공적으로 구현하여
             결제페이지를 완성했었습니다. 
        </p>
    </div>
    <!-- explain 끝 -->

</body>

</html>